* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------- 
操作説明開くボタン・閉じるボタン
----------------*/
.purpleButton {
  width: 100px;
  height: 60px;
  font-size: large;
  border: none;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  background-color: #a578df;
  font-weight: bold;
}

.purpleButton:hover {
  color: #a578df;
  border: solid;
  border-color: #a578df;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  border-width: 2px;
}

/*----------
説明閉じるボタン（closeButton）
----------- */
#closeButton {
  display: block;
  margin: 0 auto;
}

/*---------------- 
モーダルウィンドウ 
----------------*/
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  z-index: 1000;
  width: 70vw;
  padding: 1em;
  background: #fff;
  border-radius: 10px;
}

#content h2 {
  text-align: center;
  font-size: 30px;
}

/*--------------------
操作説明（Gesture関数）
--------------------*/
#gesture {
  /* display: flex; */
  justify-content: space-around;
  flex-wrap: wrap;
}

#gesture div {
  border: solid 2px;
  border-radius: 20px;
  width: 50%;
  height: auto;
  margin: 2%;
  padding: 2%;
  display: grid;
}

#gesture p {
  text-align: center;
  font-weight: bold;
}

#gesture img {
  /* width: 100px; */
  height: auto;
  display: inline-block;
  margin: 0 auto;
}

/* --------------------
操作説明画像
-------------------- */
#ges-1 {
  object-fit: cover;
  width: 100%;
  height: auto;
}

#ges-2 {
  object-fit: cover;
  width: 100%;
  height: auto;
}

#ges-3 {
  object-fit: cover;
  width: 100%;
  height: auto;
}

#ges-4 {
  object-fit: cover;
  width: 300px;
  height: auto;
}
#A{
  display: flex;
}
