.upload {
  text-align: center;
  display: block;
}

/* ----------------
こうすけ変更点
------------------ */
input[type="file"] {
  display: none;
}

.upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 70vh;
  margin: 40px auto 0 auto;
  border-radius: 30px;
  background-color: #f3f3f3;
}

.upload section {
  border: dashed 2px black;
  border-radius: 30px;
  width: 70vw;
  height: 60vh;
}

.icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.onFile {
  display: flex;
  justify-content: center;
  width: 400px;
  padding: 20px 40px;
  margin: 0 auto;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  clear: both;
}

#onFileChange {
  border: solid 2px #2e90ff;
}

#onFileChange:hover {
  color: #2e90ff;
  background-color: #ffffff;
}

/* ----------------
アップロードのアイコン　SVGファイル
------------------ */
#uploadIcon {
  fill: #ffffff;
  width: 26px;
  margin-right: 10px;
}

.onFile:hover > #uploadIcon {
  fill: #2e90ff;
}

.onFile p {
  margin: auto 0;
}

label {
  background-color: #2e90ff;
}

.selectedFile {
  margin: 20px;
}

/* ----------
アップロードボタン
------------- */
button {
  border: none;
  border-radius: 10px;
  background-color: #bd75df;
}

/* ----------
アップロードボタン利用不可時
------------- */
button:disabled {
  background-color: #ead6ff;
}
